* {
    margin: 0;
    padding: 0;
}

#titlecard {
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background-color: #a6a6a6;
    width: 100vw;
    height: 100vh;
}

#title {
    position: absolute;
    left: 164px;
    top: 450px;
    margin: 0;
}

h1 {
    font-size: 80px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#video-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#video-container #background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}