html, body {
    margin:0;
    padding:0;
}

#titlecard {
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background-color: #a6a6a6;
    width: 100vw;
    height: 100vh;
}

#title {
    position: absolute;
    left: 164px;
    top: 450px;
    margin: 0;
}

h1 {
    font-size: 80px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

@media (min-aspect-ratio:16/9) {
    video {
        width:100vw;
        height:auto;
    }
}

@media (max-aspect-ratio:16/9) {
    video {
        height:100vh;
        width:auto;
    }
}