* {
    margin: 0;
    padding: 0;
}

#landingpage {
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    background-color: #a6a6a6;
    width: 100vw;
    height: 100vh;
}

#title {
    position: absolute;
    left: 164px;
    top: 450px;
}

.taskbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
    height: 5%;
}

#tbleft {
    width: 40%;
}

#tbright {
    width: 40%;
}

#tbmiddle {
    width: 20%;
    display: flex;
    justify-content: center;
}

.taskbarheader {
    font-family: 'Roboto Mono';
    font-size: 1.4rem;
    font-weight:bold;
    color: black;
}

.bgheader {
    font-size: 80px;
}

.bgheader2 {
    font-size: 32px;
}

#video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#video-container #background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


@media (max-width: 1980px) {
    #title {
        left: 164px;
        top: 450px;
    }
}

@media (max-width: 800px) {
    #title {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bgheader {
        font-size: 60px
    }

    .bgheader2 {
        font-size: 25px
    }
}